:root {
    --color-light: #ecb176;
    --color-gray: #696d7d;
    --color-blue: #d6eeff;
    --color-dark: #772f1a;
    --color-green: #85ff9e;
    --color-red: #ff746c;
    --color-link: #107e7d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
    overflow: auto;
    background: var(--color-dark);
}


#nav-placeholder {
    position: sticky;
    top: 0px;
    z-index: 999;
}

.navbar {
    background: var(--color-light);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar__container {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
}

#navbar__logo {
    background: var(--color-light);
    color: var(--color-dark);
    display: flex;
    margin-left: 1rem;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

#navbar__logo:hover {
   color: var(--color-red);
   transition: all 0.2s ease; 
}

#otter {
    background: var(--color-light);
    color: var(--color-dark);
    display: flex;
    margin: 0 auto;
    padding-left: 14vh;
    align-items: center;
    font-size: 3rem;
}


.navbar__menu {
    background: var(--color-light);
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 60px;
}

.navbar__links {
    background: var(--color-light);
    color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}


.navbar__links:hover {
    color: var(--color-red);
   transition: all 0.2s ease;
    
}


.main {
    background: var(--color-blue);
    background-color: var(--color-blue);
    min-height: 100vh;
}

.main * {
    background: var(--color-blue);
    background-color: var(--color-blue);
}

.page_title {
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.page_title > * {
    align-self: center;
}

.page_title h1 {
    color: var(--color-dark);
}

.page_title hr {
    margin-top: 12px;
    border: 0 none;
    height: 4px;
    background: var(--color-red);
    width: 220px;
}

.page_title h2 {
    margin-top: 10px;
    color: var(--color-dark);
    font-size: 1.5rem;
    margin-bottom: 7rem;;
}

.round_box {
  border-radius: 20px;
  background: var(--color-light);
  padding: 20px;
  width: 600px;
  height: fit-content;
  margin-left: 15%;
  margin-bottom: 40px;
}

.round_box * {
    background: var(--color-light);
    color: var(--color-dark);
}

.round_box h1 i {
    align-items: center;   
}

.round_box h1 {
    font-size: 1.7rem;
}

.round_box p {
    margin-top: 10px;
    text-align: justify;
}

.round_box p a {
    color: var(--color-link);
    text-decoration: none;
}

.round_box_uncolored {
  border-radius: 20px;
  background: var(--color-blue);
  padding: 20px;
  height: fit-content;
  margin-left: 25%;
  margin-bottom: 40px;
}

.round_box_uncolored * {
    background: var(--color-blue);
    color: var(--color-dark);
}

.round_box_uncolored h1 i {
    align-items: center;   
}

.round_box_uncolored h1 {
    font-size: 2.5rem;
}

.round_box_uncolored p {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: justify;
}

.round_box_uncolored p a {
    color: var(--color-link);
    text-decoration: none;
}
/* index.html specifics */

.main_img {
    border-radius: 20px;
    float: right;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}

/* wops.html specifics */

.construction__img--container {
    width:100%;
    display: flex;
    justify-content: center;
}

.construction__container {
    height: 100vh;
    z-index: 1;
}

.construction {
    margin: 0 auto;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.construction h1 {
    font-size: 2.5rem;
    background-color: var(--color-red);
    background-image: linear-gradient(to top, var(--color-red) 0%,
				      var (--color-light) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.construction h2 {
    font-size: 1.2rem;
    background-color: var(--color-red);
    background-image: linear-gradient(to top, var(--color-red) 0%,
				      var (--color-light) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#main_img_centered {
    margin-top: 5rem ;
    margin-bottom: 5rem;
    width: 100%;
    max-width: 700px;
}

/* End of wops.html specifics */
